@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --main-color: #226fd4b4;
  --secondary-color: #2a91f180;
  --tertiary-color: #4d4aff46;
  font-size: 18px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background-image {
  height: 100vh;
  width: 100%;
  background-image: url(https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149215737.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  filter: blur(5px);
  transform: scale(1.05);
}

#background-radial {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 70%,
    rgba(0, 0, 0, 0.2497373949579832) 100%
  );
}

h2 {
  width: 60%;
  margin: 25px;
  font-size: 2em;
}

h3 {
  margin-top: 20px;
}

button {
  background-color: var(--main-color);
  padding: 7px 10px;
  margin-right: 20px;
  border: 1px solid black;
  font-size: 0.8em;
  font-weight: 800;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

@media (max-width: 1400px) {
  h2 {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
  h2 {
    width: 95%;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 12px;
  }
  button {
    font-size: 0.5em;
  }
}

@media (max-width: 550px) {
  :root {
    font-size: 10px;
  }
  button {
    padding: 3px;
  }
  h2 {
    text-align: center;
    margin: 10px 0;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 300px) {
  :root {
    font-size: 6px;
  }
}
