table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

#table-header-row {
  background: radial-gradient(
    circle,
    rgba(255, 253, 253, 0) 35%,
    rgba(0, 0, 0, 0.8547794117647058) 85%
  );
}

#table-scroll-container {
  width: 60%;
  max-height: 55vh;
  overflow-y: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 100px var(--secondary-color);
  backdrop-filter: blur(20px);
}

#table-scroll-container::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid black;
}

#table-scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

#table-header {
  width: 60%;
  border: 1px solid black;
}

#row-selected {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#row-selected td {
  font-style: italic;
}

#row-selected td:not(:last-child) {
  text-shadow: none;
  color: black;
}

tr:nth-of-type(even) {
  background-color: var(--secondary-color);
}

tbody tr {
  cursor: pointer;
}

th,
td {
  width: 20%;
  padding: 7px;
}

th {
  height: 60px;
  font-size: 1.2em;
  text-align: center;
  background-color: var(--main-color);
  padding-right: 20px;
  user-select: none;
  cursor: pointer;
}

#actions-tab {
  cursor: default;
}

th:hover:not(:last-child) {
  color: lightgray;
}

th:last-child {
  padding-right: 40px;
}

td:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.change-24hr-pos {
  color: rgb(0, 255, 0);
}
.change-24hr-pos::before {
  content: "+";
}

.change-24hr-neg {
  color: rgb(255, 72, 72);
}

@media (max-width: 1400px) {
  #table-scroll-container {
    width: 80%;
  }
  #table-header {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  #table-scroll-container {
    width: 95%;
  }
  #table-header {
    width: 95%;
  }
  td button {
    margin-right: 5px;
  }
}

@media (max-width: 700px) {
  th {
    height: 40px;
    font-size: 1em;
  }
  #actions-tab {
    padding-left: 20px;
  }
  td button {
    margin: 0;
  }
  #table-scroll-container::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 550px) {
  th {
    height: 20px;
    font-size: 0.9em;
  }
  td,
  th,
  th:last-child {
    padding: 3px;
    margin: 0;
  }
  #actions-tab {
    padding-right: 25px;
  }
  td button {
    margin: 0;
  }
}

@media (max-width: 300px) {
  th {
    padding-left: 10px;
  }
}
