header {
  width: 100%;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

h1 {
  margin-left: 20px;
  font-size: 3rem;
  padding: 10px 0;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#welcome-user {
  vertical-align: middle;
  font-size: 1.25rem;
  padding-right: 10px;
}

@media screen and (max-width: 650px) {
  nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
  #welcome-user {
    padding: 5px 0;
  }
}
