#form-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 700px;
  background-color: var(--tertiary-color);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.form-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 50%;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 3px 10px;
  text-shadow: none;
  color: black;
  border: 1px solid black;
}

label,
input,
.form-error,
.form-success {
  margin: 10px 30px;
}

form h2 {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  margin: 0 0 20px 0;
  padding: 20px 0 20px 20px;
  height: 75px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid black;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.form-error {
  color: rgb(255, 81, 81);
  background-color: rgba(255, 0, 0, 0.336);
}

.form-success {
  color: rgb(96, 255, 81);
  background-color: rgba(9, 255, 0, 0.336);
}

.form-error,
.form-success {
  padding: 5px 10px;
  border-radius: 5px;
}

.form-error::before,
.form-success::before {
  content: "- ";
}

#button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#button-container span {
  padding-right: 5px;
}

#button-container button {
  align-self: flex-end;
  margin: 20px 20px 20px 10px;
}

@media screen and (max-width: 500px) {
  form h2 {
    height: 25px;
  }
  .form-input-container {
    flex-direction: column;
  }
  .form-error,
  .form-success {
    margin: 0 auto;
    width: 90%;
    font-size: 1.2rem;
  }
  input,
  label {
    width: 90%;
    font-size: 1.5rem;
    margin: 5px 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  form h2 {
    height: 50px;
  }
  .form-input-container {
    flex-direction: column;
  }
  .form-error,
  .form-success {
    margin: 5px auto;
    width: 90%;
    font-size: 1.2rem;
  }
  input,
  label {
    width: 90%;
    font-size: 1.5rem;
    margin: 5px 0;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1600px) {
  input,
  label {
    font-size: 1.3rem;
    margin: 5px 10px;
  }
  .form-error,
  .form-success {
    margin: 5px auto;
    width: 95%;
    font-size: 1.2rem;
  }
}
